.custom-signup-scale {
  height: 520px;
  width: 70%;
  border-radius: 20px;
}
.custom-signup-sublings-div {
  width: 50%;
  border-radius: 20px;
}

/* first div styles   */

.custom-signup-div-style {
  height: 80%;
  width: 80%;
  background-color: #25ca86;
  border-radius: 20px;
}

.custom-signup-div-style p {
  font-size: 12px;
}
.custom-signup-images {
  width: 100%;
}

.custom-signup-images img {
  width: 50%;
}

/* second div styles*/

.custom-signup-paragraph {
  font-size: 10px;
}

.custom-signup-input-field {
  height: 40px;
  width: 85%;
  border-radius: 15px;
  background: #f3f3f3;
  outline: none;
}

.custom-signup-input-field input {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
}
.custom-signup-forget-password {
  font-size: 12px;
  cursor: pointer;
}
.custom-signup-submit {
  height: 40px;
  width: 85%;
  border-radius: 15px;
  background-color: #25ca86;
}

.custom-signup-submit input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 15px;
}

.custom-signup-buttons button {
  width: 45%;
}

.custom-signup-suggestion {
  font-size: 12px;
}

.custom-signup-checkbox {
  font-size: 12px;
}
