.App {
  font-family: "Poppins-Medium";
  
}
.proBackground {
  /* global 94%+ browsers support */
  background: linear-gradient(122deg, #86E6A1, #86E6A1 100%);
}

.link{
  text-decoration: none;
  color: inherit;
}
