/* start card style */
.custom-item {
  width: 300px;
  height: 150px;
  transition: ease 150ms;
}
.custom-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
  transform: scale(102%);
}
.custom-img-container {
  border: solid 1px #b1b1b1;
  width: 50px;
  height: 50px;
}

.custom-job-text {
  font-size: 18px !important;
  width: 200px;
  color: #19ac90;
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}
.bookmark {
  color: #19ac90;
}
.custom-company-name {
  color: rgb(157, 157, 157);
  font-size: 12px;
  margin-right: 4rem;
  margin-top: -20px;
}
.icons-job {
  width: 250px;
  height: 20px;

  font-size: 12px;
}
.icons-job {
  color: #19ac90;
}
.icons-job span {
  color: #b4b4b4;
}
/* end card style */

.titles-page {
  font-family: poppins;
  font-weight: 400;
  font-size: 48px;
  text-align: left;
  margin-left: 300px;
  color: #19ac90;
}

.talent-container {
  width: 1480px;
  height: 400px;
  margin: 50px auto;
  border-radius: 30px;
  /* background: #e1e1e1; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.talent-itm {
  width: 50px;
  height: 160px;
  background-color: #19ac90;
  border-radius: 20px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  /*   background: lightyellow; */
  flex: 0 2 20%;
  position: relative;
  transition: ease 150ms;
  padding-top: 30px;
  transition: ease 150ms;
}
.talent-itm:hover {
  background-color: #2f8f7d;
  transform: scale(99%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
}

.talent-itm a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}
.talent-itm span {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-top: 30px;
  color: #fff;
  font-size: 12px;
}
