.vailable-job-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.job-list-container {
  width: 90%;
  background-color: #f7f4f2;
  min-height: 520px !important;
  margin-top: 70px !important;
}
.custom-avaliable-jobs{
  margin-left: 7rem;
  margin-top: 40px;
  color: #198754;
}
.talent-category-container {
  width: 85%;
  margin: auto;
}

.talent-category-container {
  width: 85%;
  margin: auto;
}
