.custom-signin-scale {
  min-height: 520px;
  width: 80%;
  border-radius: 20px;
}
.custom-signin-sublings-div {
  width: 50%;
  border-radius: 20px;
}

/* first div styles   */

.custom-signin-div-style {
  height: 80%;
  width: 80%;
  background-color: #25ca86;
  border-radius: 20px;
}

.custom-signin-div-style p {
  font-size: 12px;
}
.custom-signin-images {
  width: 100%;
}

.custom-signin-images img {
  width: 50%;
}

/* second div styles*/

.custom-signin-paragraph {
  font-size: 10px;
}

.custom-signin-input-field {
  height: 40px;
  width: 85%;
  border-radius: 15px;
  background: #f3f3f3;
  outline: none;
}

.custom-signin-input-field input {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
}
.custom-signin-forget-password {
  font-size: 12px;
  cursor: pointer;
}
.custom-signin-submit {
  height: 40px;
  width: 85%;
  border-radius: 15px;
  background-color: #25ca86;
}

.custom-signin-submit input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 15px;
}

.custom-signin-buttons button {
  width: 45%;
}

.custom-signin-suggestion {
  font-size: 12px;
}
