.custom-talent-card {
  width: 230px;
  height: 150px;
  background-color: #19ac90;
  transition: ease 150ms;
}

.custom-talent-card:hover {
  background-color: #2f8f7d;
  transform: scale(99%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
}

.custom-icons-container span {
  font-size: 0.7rem;
  color: #fff;
}
