*{
    margin: 0;
    padding: 0;
}
.vailable-job-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
}
.job-list-container{
    width: 85%;
    background-color:#f7f4f2;
    height: 500px;
    margin: 50px auto;
    border-radius: 30px;

}

  
 .talent-category-container{
    width:85%;
    margin:auto;
}